<div class="row state-overview">
    <div class="col-lg-3 col-sm-6">
        <section class="panel">
            <div class="symbol purple">
                <i class="fa fa-folder-o"></i>
            </div>
            <div class="value">
                <h1 class="count">
                    0
                </h1>
                <p>Pages</p>
            </div>
        </section>
    </div>
    <div class="col-lg-3 col-sm-6">
        <section class="panel">
            <div class="symbol purple">
                <i class="fa fa-bolt"></i>
            </div>
            <div class="value">
                <h1 class=" count2">
                    0
                </h1>
                <p>Injectors</p>
            </div>
        </section>
    </div>
    <div class="col-lg-3 col-sm-6">
        <section class="panel">
            <div class="symbol purple">
                <i class="fa fa-code"></i>
            </div>
            <div class="value">
                <h1 class=" count3">
                    0
                </h1>
                <p>API Apps</p>
            </div>
        </section>
    </div>
</div>

<div class="col-sm-6">
  <section class="panel">
      <header class="panel-heading">
          Your Pages
      </header>
      <table class="table">
          <thead>
          <tr>
              <th>#</th>
              <th>Name</th>
              <th># Injectors</th>
          </tr>
          </thead>
          <tbody>
            <% @pages_sumary.each do |ps| %>
              <tr>
                  <td><%= ps.id %></td>
                  <td><%= ps.name %></td>
                  <td>
                    <span class="label label-info pull-left"><%= ps.total_injections %></span>
                  </td>
              </tr>
            <% end %>
          </tbody>
      </table>
      <header class="panel-heading">
          <a href="#" class="btn btn-shadow btn-injecta">
            <span class="fa fa-search-plus"></span>
             view all pages
          </a>
      </header>
  </section>
</div>

<div class="col-sm-6">
  <section class="panel">
      <header class="panel-heading">
          Your Injectors
      </header>
      <table class="table">
          <thead>
          <tr>
              <th>#</th>
              <th></th>
              <th>Name</th>
          </tr>
          </thead>
          <tbody>
            <% @injections_sumary.each do |is| %>
              <tr>
                  <td><%= is.id %></td>
                  <td>
                    <span class="label injection-type-<%= is.injection_type_name.downcase %>"><%= is.injection_type_name %></span>
                  </td>
                  <td><%= is.name %></td>
              </tr>
            <% end %>
          </tbody>
      </table>
      <header class="panel-heading">
          <a href="#" class="btn btn-shadow btn-injecta">
            <span class="fa fa-search-plus"></span>
             view all injectors
          </a>
      </header>
  </section>
</div>
